<h1> Log In </h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  Email: <input name="user[email]" id="email">
  <br />
  Password:<input name="user[password]" id="password">
  <br /><br />
  <input type="submit" value="login">
<% end %>