<h1 class="display-2"> Welcome back, <%= @user.name %></h1>
<%= button_to "Create a Course", new_course_path, :method => "get", class: "btn btn-info btn-block" %>
<%= button_to "View My Courses", courses_path, :method => "get", class: "btn btn-info btn-block" %>
