









#difficulty selection box
<select class="custom-select">
  <option selected>Difficulty Level</option>
  <option value="ease">Easy</option>
  <option value="medium">Medium</option>
  <option value="hard">Hard</option>
</select>